<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jjc.qiqiharuniversity">

    <!--允许联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取网络状态的信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--允许读取sd卡的状态-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--在SD卡中创建与删除文件权限-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".BizApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QiqiharUniversity"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="m">
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:exported="true"
            android:authorities="com.jjc.qiqiharuniversity.BmobContentProvider">
        </provider>
        <activity
            android:name=".biz.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".biz.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.login.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.home.news.NewsDetailsWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.CampusNetworkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.CETWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.MandarinWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.TeacherQualificationWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.DeptWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.WallWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.RecruitmentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.RecruitmentWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.SeatReservationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.EpidemicWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.SchoolMapWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.discover.WeiboWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.me.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".biz.me.BindMobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.me.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.me.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.me.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.me.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>